<app-top></app-top>
<div class="container-fluid fundoSobre d-flex justify-content-center">    
    <div class="container fundoContainer ">
        <div class="row align-items-start mb-3"> 
            <div class="col">
                <h3><b><i class="pi pi-users"></i> Sobre</b> </h3>
            </div>
                <a class="btn-close p-3" routerLink="/board"></a>
            </div>
        
        <h5 class="card-subtitle mb-3">App re.mind</h5>
        <p class="card-text">O re.mind é uma aplicativo que utiliza o kanban adaptado do "To do list" e é voltado para
            as ajudar pessoas com TDAH. É o produto final de um Projeto Integrador, requisito na obtenção do certificado de
            conclusão do curso
            Desenvolvimento Web Full Stack . NET fomentado pelo Instituto BRF e ofertado pela Digital House.</p>
        <h5 class="card-subtitle mb-3 mt-3">Desenvolvedores</h5>
        <p class="card-text">Anália Emília Barbosa Ferreira de Souza 
            <a href="https://www.linkedin.com/in/analiaemiliadev/" target="_blank" class="icon-link-blue">
                <i class="pi pi-linkedin ms-2 me-2"></i>
            </a>
            <a href="https://github.com/analianai" target="_blank" class="icon-link-Black">
                <i class="pi pi-github"></i>
            </a>
        </p>
        <p class="card-text">Geismar Samis Lima Couto
            <a href="https://www.linkedin.com/in/geismarsamis/" target="_blank" class="icon-link-blue">
                <i class="pi pi-linkedin ms-2 me-2"></i>
            </a>
            <a href="https://github.com/geismarsamis" target="_blank" class="icon-link-Black">
                <i class="pi pi-github"></i>
            </a>
        </p>
        <h5 class="card-subtitle mb-3 mt-3">Orientadores</h5>
        <p class="card-text">Diego Pereira
            <a href="https://www.linkedin.com/in/" target="_blank" class="icon-link-blue">
                <i class="pi pi-linkedin ms-2 me-2"></i>
            </a>
            <a href="https://github.com/dhiegopereira" target="_blank" class="icon-link-Black">
                <i class="pi pi-github"></i>
            </a>
        </p>
        <p class="card-text mb-4">Leandro Augusto Sodré de Araújo
            <a href="https://www.linkedin.com/in/leandro-augusto-sodre/" target="_blank" class="icon-link-blue">
                <i class="pi pi-linkedin ms-2 me-2"></i>
            </a>
            <a href="https://github.com/leandrosodre" target="_blank" class="icon-link-Black">
                <i class="pi pi-github"></i>
            </a>
        </p>
        <p class="h3">
            <a href="https://www.linkedin.com/school/digital-house-brasil/" target="_blank" class="icon-link-blue"><i class="pi pi-linkedin ms-1 me-2"></i></a>
            <a href="https://github.com/analianai/Angular-Remind-Todolist" target="_blank" class="icon-link-Black"><i class="pi pi-github me-2"></i> </a>
            <a href="https://www.instagram.com/_digitalhouse/" target="_blank" class="icon-link-red mb-3"><i class="pi pi-instagram"></i></a>
        </p>
    </div>
    <div class="text-center p-2 text-white fixed-bottom footerFundo">
        <p>© 2023 Copyright: <a class="text-white" href="https://remind-six.vercel.app/">re.mind</a></p>
    </div>
</div>
